.about-hero {
    width: 100%;
    height: auto;
    padding: 2rem 0;
    background-image: linear-gradient(to right, rgb(0, 0, 0) , rgba(0, 0, 0, 0.884));    
  }
  
  .about-hero-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .about-hero-content {
    padding: 5rem 1rem 0 1rem;

}

  .about-left {
    width: 400px;
    margin: auto;
  }

  .about-left img{
    width:100%;
  }

  .about-right {
    width: 50%;
    margin: auto;
  }

  .about-hero-content h1 {
    font-size: 2rem;
    color: rgb(236, 243, 236);
  }

  .about-hero-content h2 {
    font-size: 1rem;
    text-transform: uppercase;
    color: rgb(236, 243, 236);
    padding: .5rem 0;
  }

  .about-hero-content p {
    color: white;
  }



@media screen and (max-width:940px) {

  .about-hero-content h1 {
    font-size: 1.5rem;
    text-align: center;
}

  .about-hero-content h2 {
    text-align: center;
  }

  .about-hero-content  p {
    font-size: 14px;
    text-align: center;
  }

  .about-right {
    width: 100%;
    margin: auto;
  }

  .about-left {
    width: 300px;
    margin: auto;
  }

}