.ecommerce {
    background-color: white;
    padding: 5rem 0;
}

.ecommerce-header h1{
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    padding: 3rem 0;
}

.ecommerce-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.ecommerce-icon {
    width: 500px;
    margin: auto;
}

.ecommerce-icon img {
    width: 100%;
}

.ecommerce-caption {
    width: 50%;
    margin: auto;
    padding: 1rem;
}

.ecommerce-caption h1 {
    font-size: 3rem;
}

.ecommerce-caption p {
    font-size: 16px;
}

@media screen and (max-width:940px) {
    .ecommerce-caption {
        width: 90%;
        padding: 0 1rem;
    }

    .ecommerce-caption h1 {
        text-align: center;
    }

    .ecommerce-icon {
        width: 90%;
    }
    
    .ecommerce-caption {
        width: 90%;
;
    }
    
}