.seo-hero {
    width: 100%;
    height: auto;
    padding: 2rem 0;
  }
  
  .seo-hero-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .seo-hero-content {
    padding: 5rem 1rem 0 1rem;

}

  .seo-left {
    width: 400px;
    margin: auto;
  }

  .seo-left img{
    width:100%;
  }

  .seo-right {
    width: 50%;
    margin: auto;
  }

  .seo-hero-content h1 {
    font-size: 2rem;
    color: rgb(21, 173, 21);

  }

  .seo-right p {
    color: rgb(22, 21, 21);
    text-align: justify;
  }



@media screen and (max-width:940px) {

  .seo-hero-content h1 {
    font-size: 1.5rem;
    text-align: center;
}

  .seo-hero-content h2 {
    text-align: center;
  }

  .seo-hero-content  p {
    font-size: 14px;
    text-align: center;
  }

  .seo-right {
    width: 100%;
    margin: auto;
  }

  .seo-left {
    width: 300px;
    margin: auto;
  }

}