.section1 {
    background-image: linear-gradient(to right, rgb(58, 115, 168) , rgb(45, 160, 180));    
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 3rem 0;
}

.section1-header {
    width: 100%;
    margin: auto;
}

.section1-header h1 {
    text-transform: uppercase;
    color:rgb(233, 239, 241);
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    font-size: 3rem;
}

.section1-content {
    display: flex;
    justify-content: center;
    gap: .2rem;
    padding: 3rem 1rem;
}

.section1-card-caption {
    margin: auto;
    padding: 1rem;
}

.section1-card-caption h1 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Oxygen', sans-serif;
    padding: .5rem 0;
    color: #f5f3ee;
}

.section1-card-caption p {
    color: rgb(243, 236, 236);
    font-size: 14px;
}

.section1-card {
    position: relative;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.322);
    width: 100%;
    height: 100%;
    box-shadow: 10px 14px 15px -14px rgba(255, 255, 255, 0.178);
    transition: border-radius .5s;
}

.section1-card:hover {
    border: 1px solid #d49b0a;
}


.section1-card-img {
    width: 20%;
    margin: auto;
    padding: 1rem 0;
}


.section1-card-img img {
    width: 100%;
}

.section1-card-caption {
    margin: auto;
}

.card-btn button {
    background-color: #d49b0a;
    color: rgb(245, 240, 240);
    padding: .5rem 1.5rem;
    font-size: 13px;
    border-radius: 5px;
    border: none;
}

@media screen and (max-width:940px) {

    .section1-content {
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .section1-header h1 {
        text-align: center;
        font-size: 2rem;
    }

    .section1-card {
        margin: auto;
    }

    .section1-card-img {
        width: 10%;
    }

}

@media screen and (max-width:700px) {

    .section1-card {
        display: flex;
        width: 100%;
    }

    .section1-card {
        text-align: center;
        border-radius: 1rem;
        box-shadow: 10px 14px 15px -14px rgba(0,0,0,0.75);
    }

    .section1-card-img {
        width: 100%;
        padding: 1rem;
    }

    .section1-card-caption p {
        font-size: 12px;
        text-align: justify;
    }
    

}
