.about1 {
    width: 100%;
    position: relative;
    background: rgb(255, 255, 255);
    padding: 2rem 1rem;
}

.about1-header {
    width: 100%;
}


.about1  p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}


.about1-header h1 {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

.about1-flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.about1-flex-left {
    width: 500px;
    margin: auto;
}

.about1-flex-left img {
    width: 100%;
}

.about1-flex-right {
    width: 50%;
    margin: auto;
}


@media screen and (max-width: 940px) {

    .about1-flex {
        flex-wrap: wrap;
    }

    .about1-flex-left  {
        width: 100%;
    }

    .about1-flex-right  {
        width: 100%;
    }

}







